@{
    ViewData["Title"] = "Accueil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Accueil";
}

<div class="jumbotron text-center bg-light p-5 rounded">
    <h1 class="display-4">Bienvenue sur SecurityDemo</h1>
    <p class="lead">Apprenez à identifier et corriger les failles de sécurité dans les applications web.</p>
    <hr class="my-4" />
    <a class="btn btn-primary btn-lg" href="/User/Login" role="button">Se connecter</a>
</div>


